# Flutter
.dart_tool/
build/
*.g.dart

# IDE
.idea/
*.iml

# macOS
.DS_Store

# Coverage
coverage/

# SonarQube
flutter_analyze_issues.json
.scannerwork/

# Tests output
tests.output

# Firebase
.firebase/
